body {
  margin: 0;
  text-align: center;
}

/* Title Section */
.navbar {
  padding: 0 0 4.5rem;
}

.title-heading {
  margin: 8% auto;
}

.title-heading h1 {
  font-size: 60px;
  line-height: 1.5;
}

.title-heading h2 {
  font-size: 25px;
  line-height: 1.5;
}
